<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstudydemos">

    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudyDemos">
        <activity android:name=".AnotherBrodcastReceiver"></activity>
        <activity android:name=".BrodcastReceiverDemo" />
        <activity android:name=".BroadCastDemo" />

        <service
            android:name=".MyServiceDemo"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ServiceDemo" />
        <activity android:name=".IntentDemo2" />
        <activity android:name=".IntentDataDemo" />
        <activity android:name=".EmptyActivity" />
        <activity android:name=".ActivityCycle" />
        <activity android:name=".ActivityDemo" />
        <activity android:name=".BasicControlsDemo" />
        <activity android:name=".ViewPagerDemo" />
        <activity android:name=".FragmentDemo" />
        <activity android:name=".ListViewDemo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>